.Loading {
  align-items: center;
  display: flex;
  font-size: 24px;
  justify-content: center;
  height: 100vh;
}

.container {
  margin: 0 auto;
}

.heading {
  color: var(--light-black);
  font-size: 2rem;
  margin-top: 3.5rem;
}

.filterContainer {
  border-bottom: 1px solid var(--black);
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-top: 4px;
}

.filterContainer p {
  color: var(--lightest-black);
}

.filterContainer ul {
  list-style-type: none;
}

.table {
  border: 1px solid var(--table-border);
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

.table th {
  color: var(--lightest-black);
  border-bottom: 1px solid var(--table-border);
  padding: 16px;
  table-layout: auto;
}

.col1 {
  width: 10%;
}

.col2 {
  width: 20%;
}

.col3 {
  width: 30%;
}

.showButton {
  background-color: unset;
  border: unset;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-family: YekanBakhRegular;
  margin: 40px auto;
}

.showButton svg {
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

.showLessButton svg {
  transform: rotate(180deg);
}

@media (min-width: 992px) {
  .container {
    width: 80.6%;
  }
}
