.Loading{
    align-items: center;
    display: flex;
    font-size: 24px;
    justify-content: center;
    height: 100vh;
}

.container{
    margin:0 auto;
}

.heading{
    color:var(--light-black);
    font-size: 2rem;
    margin-top: 3.5rem;
}

.filterContainer{
    border-bottom:1px solid var(--black) ;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top:4px;
}

.filterContainer p{
    color:var(--lightest-black);
}

.filterContainer ul{
    list-style-type: none;
}

.topThreeHuntersContainer{
    display: flex;
    justify-content: center;
    margin: 24px auto 40px;
    position: relative;
    width:638px
}
.topThreeHuntersContainer span{
    color: var(--black);
    font-size: 24px;
}

.firstHunter{
    align-items: center;
    flex-flow: column;
    display: flex;
}

.secondHunter{
    display: flex;
    direction: ltr;
    justify-content: space-between;
    left:1px;
    position: absolute;
    top:160px;
}

.secondHunter div,
.thirdHunter div{
    align-items: center;
    display: flex;
    flex-flow: column;
    padding-left: 16px;
    padding-right: 16px;
}

.thirdHunter{
    display: flex;
    justify-content: space-between;
    position: absolute;
    right:0;
    top:160px;
}

@media(min-width:992px){
    .container{
        width:80.6%;
    }
}
