.loading {
  align-items: center;
  display: flex;
  font-size: 24px;
  justify-content: center;
  height: 100vh;
}

.container {
  margin: 0 auto;
}

.heading {
  color: var(--light-black);
  font-size: 2rem;
  margin-top: 3.5rem;
}

.filterContainer {
  border-bottom: 1px solid var(--black);
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-top: 4px;
}

.filterContainer p {
  color: var(--lightest-black);
}

.filterContainer ul {
  list-style-type: none;
}

.table {
  border: 1px solid var(--table-border);
  text-align: center;
  width: 100%;
}

.tableHeader {
  border-bottom: 1px solid var(--table-border);
  color: var(--light-black);
  display: flex;
  justify-content: space-between;
  padding: 16px;
  table-layout: auto;
}

.headerRight,
.headerLeft {
  color:var(--lightest-black);
  display: flex;
  font-weight: 600;
  width: 50%;

}
.headerRight {
  justify-content: flex-start;
}

.headerLeft {
  justify-content: flex-end;
}

.smallContainer {
  display: flex;
  justify-content: flex-start;
  width: 7%;
}

.mediumContainer{
  display: flex;
  justify-content: center;
  width: 25%;
}

.largeContainer {
  display: flex;
  justify-content: flex-start;
  width: 60%;
}

.justifyCenter{
  justify-content: center;
}

.showButton {
  background-color: unset;
  border: unset;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-family: YekanBakhRegular;
  margin: 40px auto;
}

.showButton svg {
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

.showLessButton svg {
  transform: rotate(180deg);
}

@media (min-width: 992px) {
  .container {
    width: 80.6%;
  }
}
