.topThreeHuntersContainer {
  display: flex;
  justify-content: center;
  margin: 24px auto 40px;
  min-height: 360px;
  position: relative;
}

.topThreeHuntersContainer span {
  color: var(--black);
  font-weight: 600;
  font-size: 24px;
}

.firstHunter {
  align-items: center;
  flex-flow: column;
  display: flex;
}

.secondHunter {
  display: flex;
  justify-content: center;
  position: absolute;
  right: calc(50% + 61px);
  top: 162px;
}

.thirdHunter {
  display: flex;
  justify-content: center;
  position: absolute;
  left: calc(50% + 61px);
  top: 162px;
}

.hunterInfoContainer {
  align-items: center;
  display: flex;
  flex-flow: column;
  padding-left: 16px;
  padding-right: 16px;
  position: absolute;
  top: -20px;
}
.InfoContainer {
  position: relative;
}

.thirdHunter .hunterInfoContainer {
  left: 50%;
}
