body {

  direction: rtl;
  font-family: YekanBakhRegular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
p,h1{
  margin:0;
}
*{
  --black:rgba(0,0,0,0);
  --light-black:rgba(0,0,0,0.85);
  --lightest-black:rgba(0,0,0,0.5);
}

@font-face {
  font-family: "YekanBakhRegular";
  src: local("YekanBakhRegular.ttf"),
  url(assets/fonts/YekanBakhRegular.ttf) format("truetype");
}